﻿

@{
    ViewData["Title"] = "Add a new music";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Music" asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="files" />
                    <span class="text-danger">@ViewData["Error"]</span>
                </div>
            </div>
            <hr />
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <a asp-controller="Music"
                       asp-action="Index"
                       asp-route-id="@ViewData["PlayListID"]"
                       class=" text-decoration-none btn btn-secondary">Cancel &nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
