﻿

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Projet_3ASP_282940.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Login">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="RememberMe" />
                <label asp-for="RememberMe" class="control-label"></label>
                <span asp-validation-for="RememberMe" class="field-validation-error"></span>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        
    </div>
</div>
