﻿
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Projet_3ASP_282940.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div class="row" id="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Register" method="post">
            <h4> Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
