﻿
@model Projet_3ASP_282940.Models.PlayList
@{
    ViewData["Title"] = "Create a new playlist.";
}

<h3> @ViewData["Title"]</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="PlayList" asp-action="Create" method="post">
            <div class="form-group">
                <label for="playListName">New playList's name</label>
                <input asp-for="PlayListName" name="playListName" class="form-control" />
                <span asp-validation-for="PlayListName" class="text-danger"></span>
            </div>
            <hr />
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <a href="@Url.Action("Index","PlayList")"
                       class=" text-decoration-none btn btn-secondary">Cancel &nbsp;&nbsp;&nbsp;</a>

                </div>
                <div class="p-2 bd-highlight">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
