﻿
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model IEnumerable<Projet_3ASP_282940.Models.PlayList>

<link rel="stylesheet" href="~/css/playList.css" />

@if (signInManager.IsSignedIn(User))
{
    <div class="container">
        <a class="btn btn-primary" href="@Url.Action("Create","PlayList")">New PlayList</a>

        @if (Model.Count() > 0)
        {
            <div class="row">
                @foreach (var m in Model)
                {
                    <div id="playList" class="playList col-md-3  text-center shadow-sm rounded p-3  m-3  text-dark">
                        <h5 id="title" class="overflow-hidden">@m.PlayListName</h5>
                        <a class="btn"
                           asp-action="PlayListToPlay" 
                           asp-controller="PlayList" 
                           asp-route-id="@m.PlayListID">
                            <img width="25"
                                 height="25"
                                 src="~/icons/play-circle-regular.svg"
                                 alt="Play" />
                        </a>
                        <div class="btn-group">
                            <button id="option-btn" type="button" class="btn btn-edit btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                                More
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Music" asp-route-id="@m.PlayListID">Details</a>
                                <a class="dropdown-item" asp-action="Rename" asp-route-id="@m.PlayListID">Rename</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@m.PlayListID">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-secondary text-center">No PlayList</p>
        }
    </div>

}
else
{
    <h1>Access denied.</h1>
}

<script src="~/js/stylecss.js"></script>
<script type="text/javascript">

    var theme = window.localStorage.getItem("theme");

    if (theme == "dark") {
        DarkPlayList();
    }

    function DarkPlayList() {
        var playlist = document.getElementById('playList');
        SetBackgroundColor(playlist, "#E7E7E7");
        var title = document.getElementById('title');
        var option = document.getElementById('option-btn');
    }       
</script>